:root {
  --main-color: #4daf52;
}

body {
  background-color: #111010;
}

.App {
  text-align: center;
}

#form-label,
h3 {
  color: var(--main-color);
}

#form-button {
  background-color: var(--main-color);
}

html,
body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

.img-album {
  transition: transform 450ms;
  cursor: pointer;
  border-radius: 1rem;
}

.img-album:hover {
  transform: scale(1.08);
  border: #00d154 solid 0.08rem;
}
.footer-link:hover {
  text-decoration: none;
  color: #4daf52;
}
